#encrypted codes
#let's decrypt the code using frequency analysis


encrypted_sentences = "lrvmnir bpr sumvbwvr jx bpr lmiwv yjeryrkbi jx qmbm wi bpr xjvni mkd ymibrut jx irhx wi bpr riirkvr jx ymbinlmtmipw utn qmumbr dj w ipmhh but bj rhnvwdmbr bpr yjeryrkbi jx bpr qmbm mvvjudwko bj yt wkbrusurbmbwjk lmird jk xjubt trmui jx ibndt wb wi kjb mk rmit bmiq bj rashmwk rmvp yjeryrkb mkd wbi iwokwxwvmkvr mkd ijyr ynib urymwk nkrashmwkrd bj ower m vjyshrbr rashmkmbwjk jkr cjnhd pmer bj lr fnmhwxwrd mkd wkiswurd bj invp mk rabrkb bpmb pr vjnhd urmvp bpr ibmbr jx rkhwopbrkrd ywkd vmsmlhr jx urvjokwgwko ijnkdhrii ijnkd mkd ipmsrhrii ipmsr w dj kjb drry ytirhx bpr xwkmh mnbpjuwbt lnb yt rasruwrkvr cwbp qmbm pmi hrxb kj djnlb bpmb bpr xjhhjcwko wi bpr sujsru msshwvmbwjk mkd wkbrusurbmbwjk w jxxru yt bprjuwri wk bpr pjsr bpmb bpr riirkvr jx jqwkmcmk qmumbr cwhh urymwk wkbmvb"

stored_characters = {}

for char in encrypted_sentences:
    if char not in stored_characters:
        stored_characters[char] = 1

    else:
        stored_characters[char] += 1


attempt = encrypted_sentences.replace("r", "E")
attempt = attempt.replace("b", "T")
attempt = attempt.replace("m", "A")
attempt = attempt.replace("k", "N")
attempt = attempt.replace("p", "H")
attempt = attempt.replace("j", "O")
attempt = attempt.replace("w", "I")
attempt = attempt.replace("i", "S")
attempt = attempt.replace("e", "V")
attempt = attempt.replace("x", "F")
attempt = attempt.replace("s", "P")
attempt = attempt.replace("t", "Y")
attempt = attempt.replace("q", "K")
attempt = attempt.replace("n", "U")
attempt = attempt.replace("u", "R")
attempt = attempt.replace("v", "C")
attempt = attempt.replace("l", "B")
attempt = attempt.replace("y", "M")
attempt = attempt.replace("d", "D")
attempt = attempt.replace("h", "L")
attempt = attempt.replace("o", "G")
attempt = attempt.replace("a", "X")
attempt = attempt.replace("c", "W")
attempt = attempt.replace("g", "Z")
attempt = attempt.replace("f", "Q")


print(attempt)
